<!-- Portfolio Grid Section -->
    <section id="photos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Photos</h2>
                </div>
            </div>
            <div id="links" class="jbe-gallery">
                {% for cur_gallery in site.galleries %}
                    <div class="row">
                        <h3>{{ cur_gallery.name }}</h3>
                            {% loop_directory directory:img/gallery/ gallery:cur_gallery iterator:image filter:*.jpg sort:ascending %}
                                <div class="col-xs-6 col-sm-4 col-md-2">
                                    <a href="{{ image }}" title="{{ cur_gallery.name }}">
                                        {% capture thumbnail_folder %}{{ cur_gallery.folder }}/thumbnails{% endcapture %}
                                        <img src="{{ image | replace_first: cur_gallery.folder, thumbnail_folder }}" alt="">
                                    </a>
                                </div>
                            {% endloop_directory %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="next"><i class="fa fa-chevron-right"></i></a>
            <a class="close"><i class="fa fa-times"></i></a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

    </section>
