<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                {% for member in site.teamleaders %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-2"></div>
            </div>

            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Special thanks to</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul class="lead text-bold">
                        <li>Waagner Biro</li>
                        <li>Stadt Wien, MA41</li>
                        <li>Gordan Savicic</li>
                        <li>Annette Mossel</li>
                        <li>Okan Yilanci</li>
                        <li>Tabea Krainitz</li>
                        <li>Ramin Mohammadkhani from <a href="http://www.skydive-tirol.com/" target="_blank">Skydive Tirol</a>
                        <li>the architecture students from Objekt 219 and their hospitality</li>
                        <li>all testers, who risked their lives (well, kind of)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>